<h1> Add a Coupon </h1>
<%= simple_form_for [@course, @coupon] do |f| %>

  <div class="group1">
    <%= f.input :price %>
  </div>

  <div class="group1">
    <%= f.input :quantity %>
  </div>

  <div class="group1">
    <%= f.input :expire, :as => :string %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

<script>
  $("#coupon_expire").datepicker({ format: "yyyy/mm/dd" });
</script>
