<%= simple_form_for [@course, @video] do |f| %>

  <div class="group1">
    <%= f.input :title %>
  </div>

  <div class="group1">
    <%= f.input :description %>
  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>

  <% if !@video.hashid.nil? %>
  <div class="group">
    <p> Video Uploaded! </p>
    <%= link_to("Remove Content", course_video_remove_path(@course, @video), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
  </div>
  <% else %>
    <script src="//fast.wistia.com/assets/external/api.js" async></script>
    <p><link rel="stylesheet" href="//fast.wistia.com/assets/external/uploader.css" /></p>
    <div id="wistia_uploader" style="height:360px;width:640px;"></div>

    <script>
    var course_id = <%= @course.id %>
    var video_id = <%= @video.id %>
    var url = "/courses/" + course_id + "/videos/" + video_id

    // hide the uploader in case no title or description
    if ($("#video_title").val() == "" || $("#video_description").val() == "") {
      $("#wistia_uploader").hide();
    }

    $(".group1").keyup(function(){
      //console.log($("#video_title").val())
      //console.log($("#video_description").val())
      console.log(url)

      if ($("#video_title").val() == "" || $("#video_description").val() == "") {
        $("#wistia_uploader").hide();
      } else {
        $("#wistia_uploader").show();
      }
    });

    window._wapiq = window._wapiq || [];
    _wapiq.push(function(W) {
      window.wistiaUploader = new W.Uploader({
        accessToken: "57daac065b1543bc30042ecec4efc68c2781d14c8bb8b411742198b9e65eb89e",
        dropIn: "wistia_uploader",
        embedCodeOptions: {
          playerColor: "54bbff"
        },
        projectId: "76htmwjmng"
      });

      // upload starts
      wistiaUploader.bind('uploadstart', function(file) {
        // disable submit during uploading
        $(':input[type="submit"]').prop('disabled', true);
        // disable changing title and description
        $("#video_title").attr("disabled","disabled");
        $("#video_description").attr("disabled","disabled");
      });
      // upload succeed
      wistiaUploader.bind('uploadsuccess', function(file, media) {
        // enable submit after upload done
        $(':input[type="submit"]').prop('disabled', false);

        // use ajax to record hashid into database
        $.ajax({
          url: url + "/upload?hashid=" + media.id,
          method: 'POST',
          dataType: 'json'
        })
        // enable changing title and description
        $("#video_title").removeAttr("disabled");
        $("#video_description").removeAttr("disabled");
      });
    }); </script>

  <% end %>
