<%= simple_form_for [@course, @video] do |f| %>

  <div class="group1">
    <%= f.input :title %>
  </div>

  <div class="group1">
    <%= f.input :description %>
  </div>
  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>

  <% if !@video.hashid.nil? %>
  <div class="group">
    Video Uploaded!
    <%= link_to("Remove Video", course_video_remove_path(@course, @video), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
     before update.
  </div>
  <% else %>
    <script src="//fast.wistia.com/assets/external/api.js" async></script>
    <p><link rel="stylesheet" href="//fast.wistia.com/assets/external/uploader.css" /></p>
    <div id="wistia_uploader" style="height:360px;width:640px;"></div>

    <script>

    var course_id = <%= @course.id %>
    var video_id = <%= @video.id %>
    var project_id = "<%= @course.hashid %>"
    var url = "/courses/" + course_id + "/videos/" + video_id

    let token = ""

    // use ajax to record hashid into database
    $.ajax({
      url: url + "/get_token",
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        token = data["token"];
      }
    })

    // hide the uploader in case no title or description
    if ($("#video_title").val() == "" || $("#video_description").val() == "") {
      $("#wistia_uploader").hide();
    }

    $(".group1").keyup(function(){
      console.log($("#video_title").val())
      console.log($("#video_description").val())

      if ($("#video_title").val() == "" || $("#video_description").val() == "") {
        $("#wistia_uploader").hide();
      } else {
        $("#wistia_uploader").show();
      }
    });

    window._wapiq = window._wapiq || [];
    _wapiq.push(function(W) {

      window.wistiaUploader = new W.Uploader({
        accessToken: "placeholder",
        dropIn: "wistia_uploader",
        embedCodeOptions: {
          playerColor: "54bbff"
        },
        projectId: project_id
      });

      // upload starts
      wistiaUploader.bind('uploadstart', function(file) {
        // disable submit during uploading
        $(':input[type="submit"]').prop('disabled', true);
        // disable changing title and description
        $("#video_title").attr("disabled","disabled");
        $("#video_description").attr("disabled","disabled");
        // set the real token here, since ajax runs after Uploader initializtion
        wistiaUploader.setAccessToken(token)
      });
      // upload succeed
      wistiaUploader.bind('uploadsuccess', function(file, media) {
        // enable submit after upload done
        $(':input[type="submit"]').prop('disabled', false);

        // use ajax to record hashid into database
        $.ajax({
          url: url + "/upload?hashid=" + media.id,
          method: 'POST',
          dataType: 'json'
        })
        // enable changing title and description
        $("#video_title").removeAttr("disabled");
        $("#video_description").removeAttr("disabled");
      });
    });

    </script>

  <% end %>
