<div class="pull-right">
  <%= link_to("Add a course", new_course_path, :class => "btn btn-default" ) %>
</div>


<table class="table table-boldered">
  <thread>
  <tr>
    <td>Title</td>
    <td>Creator</td>
  </tr>
  </thread>

  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= link_to(course.title, course_path(course)) %>
    </td>
    <td>
      <%= course.user.nickname %>
    </td>
    <td>
    <% if current_user && current_user == course.user %>
      <%= link_to("Edit", edit_course_path(course)) %>
      <%= link_to("Destroy", course_path(course), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
