<% if current_user && current_user.is_teacher? %>
<div class="pull-right">
  <%= link_to("Add a course", new_course_path, :class => "btn btn-default" ) %>
</div>
<% end %>

<%= form_tag courses_path, :method => :get do %>
  选择课程类别
<%= select_tag :course_category_id, options_for_select(CourseCategory.all.map{ |c| [c.title, c.id] }, params[:course_ids]), :multiple => true , :class => "form-control" %>
  选择课程老师
<%= select_tag :user_id, options_for_select(User.where(:is_teacher => true).map{ |u| [u.nickname, u.id] }, params[:user_ids]), :multiple => true , :class => "form-control" %>
<%= submit_tag "Submit" %>
<% end %>

<table class="table table-boldered">
  <thread>
  <tr>
    <td>Title</td>
    <td>Creator</td>
  </tr>
  </thread>

  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= link_to(course.title, course_path(course)) %>
    </td>
    <td>
      <%= course.user.nickname %>
    </td>
    <td>
    <% if current_user && current_user == course.user %>
      <%= link_to("Edit", edit_course_path(course)) %>
      <%= link_to("Destroy", course_path(course), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<script>
  $("#course_category_id").select2();
  $("#user_id").select2();
</script>
