<% if current_user && current_user.is_teacher? %>
<div class="pull-right">
  <%= link_to("Add a course", new_course_path, :class => "btn btn-default" ) %>
</div>
<% end %>

<%= form_tag courses_path, :method => :get do %>
  选择课程类别
  <span id="sl_category_select">
    <%= collection_select(:select, :fl_category_id, [FlCategory.new] + FlCategory.all, :id, :title, {:selected => "0"},
          {:data => {  :remote => true, :url => url_for(:controller => "category", :action => "sl_category_select")}} ) %>
  </span>

<p></p>

  选择课程老师
<%= select_tag :user_id, options_for_select(User.where(:is_teacher => true).map{ |u| [u.nickname, u.id] }, params[:user_ids]), :multiple => true , :class => "form-control" %>
<%= submit_tag "Submit" %>
<% end %>

<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
            <%= link_to("按照价格排序", courses_path(:order => "price")) %>
        </li>
        <li>
            <%= link_to("按照价格倒排", courses_path(:order => "price_rev")) %>
        </li>
    </ul>
</div>

<table class="table table-boldered">
  <thread>
  <tr>
    <td>Title</td>
    <td>Teacher</td>
  </tr>
  </thread>

  <tbody>
  <% @courses.each do |course| %>
  <tr>
    <td>
      <%= render_course_status(course) %>
      <%= link_to(course.title, course_path(course)) %>
    </td>
    <td>
      <%= course.user.nickname %>
    </td>
    <td>
    <% if current_user && current_user == course.user %>
      <%= link_to("Edit", edit_course_path(course)) %>
      <%= link_to("Destroy", course_path(course), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    <% end %>
    <% if current_user && current_user.is_admin %>
      <% if course.is_hidden %>
        <%= link_to("Publish", publish_course_path(course) , :method => :post, :class => "btn btn-xs btn-default") %>
      <% else %>
        <%= link_to("Hide", hide_course_path(course), :method => :post,  :class => "btn btn-xs btn-default") %>
      <% end %>
    <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<script>
  $("#course_category_id").select2();
  $("#user_id").select2();
</script>
