<div class="group">
<span class="pull-right">
  <% if current_user && current_user.has_joined_course?(@course) %>
    <label class="label label-success"> 课程学员 </label>
    <%= link_to("Quit Course", quit_course_path(@course), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 未参加课程 </label>
    <%= link_to("Join Course", join_course_path(@course), method: :post, class: "btn btn-default") %>
  <% end %>
</span>

<% if current_user && current_user == @course.user %>
  <%= link_to("Edit", edit_course_path(@course), class: "btn btn-primary pull-right")%>
<% end %>
</div>

<h1> <%= @course.title %> </h1>
<p> Price <%= @course.price %> </p>

<p> <%= render_course_description(@course) %> </p>
