<div class="group">
<span class="pull-right">
  <% if current_user && current_user.has_joined_course?(@course) %>
    <label class="label label-success"> 课程学员 </label>
    <%#= link_to("Quit Course", quit_course_path(@course), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 未参加课程 </label>
    <%#= link_to("Join Course", join_course_path(@course), method: :post, class: "btn btn-default") %>
  <% end %>
</span>

<% if current_user && current_user == @course.user %>
  <%= link_to("Edit", edit_course_path(@course), class: "btn btn-primary pull-right")%>
<% end %>
</div>

<h1> <%= @course.title %> </h1>
<p> Price <%= @course.price %> </p>

<p> <%= render_course_description(@course) %> </p>

<% if current_user && @course.user == current_user %>
<div>
    <%= link_to("Add Coupon", new_course_coupon_path(@course), class: "btn btn-primary pull-right")%>
  <table class="table table-boldered">
    <thread>
    <tr>
      <td>Price</td>
      <td>Quantity</td>
      <td>Expire</td>
      <td>Share the Link to User</td>
    </tr>
    </thread>
    <tbody>
    <% @course.coupons.each do |c| %>
    <tr>
      <td>
        <%= c.price %>
      </td>
      <td>
        <%= c.quantity %>
      </td>
      <td>
        <%= c.expire %>
      </td>
      <td>
        <a href="<%= course_coupon_url(@course, c.token) %>">Link</a>
      </td>
      <td>
        <%= link_to("Destroy", course_coupon_path(@course, c), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<div>
<% if current_user && @course.user == current_user %>
  <%= link_to("Add a video", new_course_video_path(@course), class: "btn btn-primary pull-right")%>

<table class="table table-boldered">
  <thread>
  <tr>
    <td>Video Title</td>
    <td>Description</td>
  </tr>
  </thread>

  <tbody>
  <% @course.videos.order('Position ASC').each do |v| %>
  <tr>
    <td>
      <%= link_to(v.title, course_video_path(@course, v)) %>
    </td>
    <td>
      <%= simple_format(v.description) %>
    </td>
    <td>
      <%= link_to("Edit", edit_course_video_path(@course, v)) %>
      <%= link_to("Destroy", course_video_path(@course, v), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<table class="table table-boldered">
  <thread>
  <tr>
    <td>Chapter Title</td>
    <td>Description</td>
  </tr>
  </thread>

  <tbody>
  <% @course.videos.each do |v| %>
    <% if v.chapters.empty? %>
    <tr>
      <td>
        <%= link_to(v.title, course_video_path(@course, v)) %>
      </td>
      <td>
        <%= v.description %>
      </td>
    </tr>
    <% else %>
    <% v.chapters.order("start_second ASC").each do |ch| %>
    <tr>
      <td>
        <%= link_to(ch.title, course_video_chapter_path(@course, v, ch)) %>
      </td>
      <td>
        <%= ch.description %>
      </td>
    </tr>
    <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<% end %>
</div>
